
/** Nav bar starts here  **/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body{
   
}

img{
    width: 130px;
    border-radius: 100%;
}

h1{
    font-size: 2rem;
    text-align: center;
}
a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}

[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: teal;
    padding: 1% 7%;
    text-align: center;
}
.navbar h1{
    color: white;
    margin:0;
    padding-top: 10px;
}

.nav-menu{
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nav-menu a{
    background-color: blue;
    border-radius: 10px;
    margin: 7px 0;
    padding: 20px;
}
.nav-menu a:hover{
    background-color: gray;
}
p{
    font-size: 1.2rem;
    text-align: justify;

}

.navbar::after{
    content: '';
    clear:both;
    display: table;
}
/** Nav bar ends here  **/


/** profile starts here  **/

.profile{
    padding: 130px 10px;
    text-align: center;

    position: relative;
}
.profile .top-weather-icon{
    position: absolute;
    right: 7%;
    top: 30px;

    transition: transform 2s;
}
.profile .top-weather-icon:hover{
    transform: rotate(360deg);
    
}

.profile-desc h1{
    font-family: 'Satisfy';
    font-size: 3rem;
}
.profile-desc p{
    opacity: .7;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 50%;
}

.profile .bottom-weather-icon{
    position: absolute;
    left: 7%;
    bottom: 30px;
    transition: transform 2s;
}
.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
    
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/** profile ends here  **/

/** self bio starts here  **/

.self{
    background-color: turquoise;

}
.self .self-pic {

    display: flex;
    justify-content: center;
    margin:5% auto 5% auto;
    
}
.self .self-pic img{
    width: 35%;
    border: 2px solid blue;
}

.self .self-desc,p{

    
    text-align: center;
    color: rgba(86, 24, 143, 0.836);
}
hr{
    color:rgb(83, 16, 16);
    font-size: 2rem;
}


/**self bio ends here  **/