/* font-family: "Roboto", sans-serif;
   font-weight: 100;
   font-style: normal;  */

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin:auto;
   
}
.row{
    width: 100%;
}
.row::after{
    content: '';
    clear: both;
    display: block;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}
[class*="col-"]{
    width: 100%;
}
/*header starts*/
header{
    background-color: teal;
    padding: 0% 1%;
    text-align: center;
}

.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
}
nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: .9rem;
}

nav ul li a:hover{
    border-radius: 10px;
    background-color: gray;
}
/*header ends */

/* banner starts */
#banner-section{
    background-image: url("./restaurant.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   
}
.banner-contents{
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    font-family:'Handlee', cursive;
}
.banner-contents p{
    width: 300px;
    margin: 25px auto;
    background-color: greenyellow;
    padding: 10px;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;

    transition: .5s;
}
.btn:hover{
    transform: scale(1.1);
    background-color: rgb(162, 202, 81);
    color: red;
}

/*banner ends */

/*about-us starts */
#about-us{
    padding: 1%;
}
.about-us-contents{
    text-align: center;
}
.about-us-contents h2{
   font-size: 3rem;
   margin-bottom: 20px;
    font-weight: bolder;


}
.about-us-contents p{
    font-size: .8rem;
    margin-bottom: 20px;
    font-weight: bolder;
}
/*about-us ends */

/* foood menu starts */
    #menu-section{
        padding: 1%;
    }
    .card-body{
        text-align: center;

    }
    .card-body img{
        max-width: 100%;
        height: auto;
        display: block; /* minimize default blocks between two divs */
    }
    .item-desc{
        background-color: turquoise;
    }
    .item-name{
        background-color: green;
        color: white;
        padding: 10px;
    }
    .item-desc > p{
        font-size: .8rem;
        padding: 10px;
        font-weight: bold;
    }

    .card{
        transition: .3s;
    }
    .card:hover{
        transform: scale(1.1);
    }


/* food menu ends */


/* for small devices */
@media (min-width: 576px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* for medium devices */
@media (min-width: 768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* for big devices */
@media (min-width: 996px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
